<% content_for(:topbar) do %>
  <%= link_to day_path(@date - 1.day, tab: @tab), class: "topbar__nav-arrow" do %>
    <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="15 18 9 12 15 6"/></svg>
  <% end %>
  <span class="topbar__title"><%= @date.strftime("%A, %B %-d") %></span>
  <%= link_to day_path(@date + 1.day, tab: @tab), class: "topbar__nav-arrow" do %>
    <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="9 18 15 12 9 6"/></svg>
  <% end %>
  <span class="topbar__sub">
    <%= pluralize(@pending_tasks.count, "task") %> &middot;
    <% total = @tasks.sum(:planned_duration_minutes).to_i %>
    <% if total > 0 %><%= total / 60 %>h <%= total % 60 %>m<% else %>nothing planned<% end %>
  </span>
  <div class="topbar__right">
    <% unless @date == Date.current %>
      <%= link_to "Today", day_path(Date.current), class: "btn btn--ghost btn--small" %>
    <% end %>
  </div>
<% end %>

<%= render "days/tasks_and_timeline",
    date: @date,
    tasks: @tasks,
    calendar_events: @calendar_events,
    calendar_chips: @calendar_chips,
    plan_mode: @plan_mode,
    tab: @tab,
    daily_log: @daily_log,
    log_entries: @log_entries %>
