<%# locals: (tasks:, total_planned:, work_hours:, overfull:) %>
<div class="ritual__step">
  <p class="ritual__prompt">Your day is set.</p>

  <% if overfull %>
    <div class="ritual__warning">
      That's a full day. <%= total_planned / 60 %>h <%= total_planned % 60 %>m against your usual <%= current_user.work_hours_target %>h. Sure?
    </div>
  <% end %>

  <div class="ritual__summary">
    <% tasks.each do |task| %>
      <div class="ritual__summary-row">
        <span>
          <% if task.source_badge_color %>
            <span class="badge badge--<%= task.source %>" style="display: inline-block; vertical-align: middle;"></span>
          <% end %>
          <%= task.title %>
        </span>
        <span class="text-muted">
          <% if task.planned_duration_minutes.present? %>
            <%= task.planned_duration_minutes %>m
          <% else %>
            &mdash;
          <% end %>
          &middot; <%= task.size.first.upcase %>
        </span>
      </div>
    <% end %>
    <div class="ritual__summary-row ritual__summary-row--total">
      <span>Total planned</span>
      <span><%= total_planned / 60 %>h <%= total_planned % 60 %>m / <%= current_user.work_hours_target %>h</span>
    </div>
  </div>

  <%= form_with url: ritual_morning_complete_path, method: :post do |f| %>
    <%= f.submit "Begin", class: "btn btn--warm" %>
  <% end %>
</div>
