<%# locals: (timer:) %>
<div class="timer-bar" data-controller="timer" data-timer-started-at-value="<%= timer.started_at.iso8601 %>">
  <div class="timer-bar__task">
    <div class="timer-bar__task-name">
      <%= timer.task_assignment&.title || "Tracking time" %>
    </div>
    <% if timer.task_assignment&.project_name.present? %>
      <div class="timer-bar__task-project"><%= timer.task_assignment.source.capitalize %> &middot; <%= timer.task_assignment.project_name %></div>
    <% end %>
  </div>
  <div class="timer-bar__time" data-timer-target="display">0:00:00</div>
  <div class="timer-bar__controls">
    <%= button_to timer_session_path(timer), method: :patch, params: { timer_session: { ended_at: Time.current } }, class: "timer-bar__play-btn" do %>
      &#9632;
    <% end %>
  </div>
</div>
