<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Daybreak" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Daybreak">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="hotkeys"
        data-hotkeys-week-value="<%= root_path %>"
        data-hotkeys-today-value="<%= day_path(Date.current) %>"
        data-hotkeys-sunrise-value="<%= ritual_morning_path %>"
        data-hotkeys-sundown-value="<%= ritual_evening_path %>">
    <% if logged_in? && current_user.onboarded? && !content_for?(:full_screen) %>
      <% if logged_in? %>
        <template data-user-stamp-svg>
          <%= render "stamps/#{current_user.stamp_choice}" %>
        </template>
      <% end %>

      <% hide_inbox_panel = controller_name == "rituals" && action_name == "evening" %>
      <div class="shell<%= " shell--no-right" if hide_inbox_panel %>">
        <%= render "layouts/sidebar" %>

        <main class="mid">
          <div class="topbar">
            <%= yield(:topbar) %>
          </div>
          <% if @active_timer %>
            <div class="mid__timer">
              <%= render "layouts/active_timer_bar", timer: @active_timer %>
            </div>
          <% end %>
          <div class="view-area">
            <% if flash[:notice] %>
              <div class="flash flash--notice" data-controller="flash"><%= flash[:notice] %></div>
            <% end %>
            <% if flash[:alert] %>
              <div class="flash flash--alert" data-controller="flash"><%= flash[:alert] %></div>
            <% end %>
            <%= yield %>
          </div>
        </main>

        <% unless hide_inbox_panel %>
          <div class="right" data-controller="right-panel">
            <%= render "layouts/right_panel" %>
          </div>
        <% end %>
      </div>
    <% else %>
      <% if logged_in? %>
        <template data-user-stamp-svg>
          <%= render "stamps/#{current_user.stamp_choice}" %>
        </template>
      <% end %>

      <main class="app-main">
        <% if flash[:notice] %>
          <div class="flash flash--notice" data-controller="flash"><%= flash[:notice] %></div>
        <% end %>
        <% if flash[:alert] %>
          <div class="flash flash--alert" data-controller="flash"><%= flash[:alert] %></div>
        <% end %>
        <%= yield %>
      </main>
    <% end %>
    <%= turbo_frame_tag "modal" %>
    <%= turbo_frame_tag "focus" %>
  </body>
</html>
